[Unit]
Description=Chezmoi Update

[Service]
ExecStart=mkdir -p %h/.config/zirconium/chezmoi
ExecStart=touch %h/.config/zirconium/chezmoi/chezmoi.toml
ExecStart=sh -c 'yes s | chezmoi update --no-tty --keep-going -S %h/.local/share/zirconium/chezmoi --verbose --config %h/.config/zirconium/chezmoi/chezmoi.toml'
Type=oneshot
