[Unit]
Description=Initializes Chezmoi if directory is missing
ConditionPathExists=!%h/.local/share/chezmoi/.git/

[Service]
ExecStart=chezmoi init --apply file:///usr/share/zirconium/zdots/.git
Type=oneshot

[Install]
WantedBy=default.target
